@import "../../../styles.scss";

.playlists {
  border-top: 2px solid $header-color;
  height: 45%;
  background-image: linear-gradient(to left, #000000, #141414, #202020, #2d2d2d, #3a3a3a);
  color: white;
}
