# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Spotify/dist
/Spotify/tmp
/Spotify/out-tsc
# Only exists if Bazel was run
/Spotify/bazel-out

# dependencies
/Spotify/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/Spotify/.idea
/Spotify/.project
/Spotify/.classpath
/Spotify/.c9/
/Spotify/*.launch
/Spotify/.settings/
/Spotify/*.sublime-workspace

# IDE - VSCode
/Spotify/.vscode/*
!/Spotify/.vscode/settings.json
!/Spotify/.vscode/tasks.json
!/Spotify/.vscode/launch.json
!/Spotify/.vscode/extensions.json
!/Spotify/.history/*

# misc
/Spotify/.sass-cache
/Spotify/connect.lock
/Spotify/coverage
/Spotify/libpeerconnection.log
/Spotify/npm-debug.log
/Spotify/yarn-error.log
/Spotify/testem.log
/Spotify/typings

# System Files
/Spotify/.DS_Store
/Spotify/Thumbs.db
