<div class="row genre-moods">
  <div class="col">
    <div class="row">
      <div class="col" *ngFor="let genre of genres">
        <div class="card">
          <img src={{genre.src}}>
          <div class="centered">{{genre.text}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col" *ngFor="let genre of genres">
        <div class="card">
          <img src={{genre.src}}>
          <div class="centered">{{genre.text}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col" *ngFor="let genre of genres">
        <div class="card">
          <img src={{genre.src}}>
          <div class="centered">{{genre.text}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col" *ngFor="let genre of genres">
        <div class="card">
          <img src={{genre.src}}>
          <div class="centered">{{genre.text}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

