<div class="row left-menu">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action list-group-item-dark" (click)="display('Home')"><i class="material-icons">home</i> Home </li>
      <li class="list-group-item list-group-item-action list-group-item-dark" (click)="display('Browse')"><i class="material-icons">reorder</i> Browse</li>
      <li class="list-group-item list-group-item-action list-group-item-dark" (click)="display('Radio')"><i class="material-icons">radio</i> Radio</li>

    </ul>
  </div>
</div>
