/* You can add global styles to this file, and also import other style files */
$green: #00ab1a;
$red: #ab0000;
$yellow: #ffff00;
$blue: #2f00ff;
$purple: #7b00e0;
$header-color: $green;

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}
